<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Liked Posts</title>
  <link rel="stylesheet" href="/sty.css" />
</head>
<body>
  <h1>Liked Posts</h1>
  <%- include('./partials/sidebar') %>
  <main class="main-rail">
  <div class="posts-container">
    <% posts.forEach(post => { %>
      <div class="post-card">
        <div class="post-header">
                <div class="post-avatar">
                    <img src="<%= post.profile_pic_url || '/default.png' %>"
                        alt="avatar of <%= post.username %>"
                        loading="lazy">
                </div>

                <a href="/profile/<%= post.username %>" class="username-link">
                    <%= post.username %>
                </a>
        </div>
        <p><%= post.caption %></p>
        <% if (post.image_url) { %>
          <img src="<%= post.image_url %>" alt="Post Image">
        <% } %>
      </div>
    <% }); %>
  </div>
  </main>
  
  <%- include ('./partials/side2') %>
  <script>
    async function toggleLike(postId) {
      try {
        const res = await fetch(`/posts/${postId}/like`, {
          method: 'POST'
        });
        if (res.ok) location.reload(); 
      } catch (err) {
        console.error("Error:", err);
      }
    }
  </script>
</body>
</html>
